.profile_content {
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
}
.profile {
	display: flex;
}
.profile_details {
	display: flex;
}
.pointer {
	cursor: pointer;
}
.bx-log-out {
    right: 1rem;
    position: absolute;
    font-size: 25px!important;
}
.sidebar-dark-primary {
	background-color: #012060
}
.brand-image {
	float: unset!important;
    margin: auto!important;
    max-height: 23vh!important;
}