.btn .btn-primary {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* .MuiInputBase-input {
  padding-top: 0;
  padding-bottom: 0;
} */

.test {
  color: "#333333";
}

.table-box {
  position: sticky;
  top: 0;
  background: red;
}

#root {
  max-height: 100vh;
  overflow: hidden;
}
