.btn .btn-primary {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.table-box {
  position: sticky;
  top: 0;
  background: red;
}

#root {
  max-height: 100vh;
  overflow: hidden;
}

#text-field-margin-top {
  margin-top: 25px;
}

